---
import { Button, Loading } from "mee-components";
import Header from "@components/Header.astro";
---

<main class="flex h-full min-h-screen p-6">
  <article
    class="flex h-full w-full max-w-480 flex-1 flex-col items-start justify-start gap-6"
  >
    <Header />
    <Loading />
    <section
      class="flex w-full flex-col items-start rounded-xl border border-solid border-gray-300 bg-white text-gray-800"
      id="connections-container"
    >
    </section>
  </article>
</main>
<div class="hidden">
  <div id="revoke-access">
    <Button
      type="button"
      buttonType="danger"
      style="outlined"
      size="l"
      className="hidden md:flex">Revoke access</Button
    >
  </div>

  <div id="view-details">
    <Button
      type="button"
      buttonType="tertiary"
      style="transparent"
      size="l"
      className="hidden md:flex">View details</Button
    >
  </div>

  <div class="flex rotate-90 md:hidden" id="arrow-right">
    <div class="flex rotate-180">
      <i class="bi bi-chevron-down text-2xl"></i>
    </div>
  </div>

  <script>
    import {
      getConnectionsData,
      subscribeConnectionsData,
    } from "@store/ConnectionsStore";
    import { checkUser } from "@utils/common";
    import { HashRouter } from "mee-components";
    import { appendConnections } from "scripts/ConnectionsList";
    import initHeader from "scripts/Header";

    const initConnections = () => {
      if (checkUser()) {
        initHeader();
        appendConnections(getConnectionsData());
        subscribeConnectionsData(appendConnections);
      }
    };

    HashRouter.initPageListeners("connections", initConnections, "Connections");
  </script>
</div>
