<div></div>
<script>
  import { HashRouter, Cookie } from "mee-components";

  const initIndexPage = () => {
    const user = Cookie.getCookie("user");
    if (user) {
      window.location.hash = "#connections";
    } else {
      window.location.hash = "#sign-in";
    }
  };
  HashRouter.initPageListeners("index", initIndexPage, "Welcome to Mee");
</script>
